/* --------------------------------------------font imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,500&display=swap');

/* -------------------------------------------normalizing css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------common styles */

body {
  font-family: 'Poppins', sans-serif;
}

/* -------------------------------------------utility classes */

.container {
  width: 85%;
  margin: 0 auto;
}
.red-button {
  background-color: #DD0000;
  color: white;
  padding: 16px 25px;
  text-decoration: none;
  border-radius: 5px;
}
.red-button i {
  margin-left: 15px;
}
#active-button {
  color: white;
  background-color: #DD0000;
}

/* ------------------------------------------main banner styles */
.main-banner {
  height: 700px;
  background-color: #161616;
  color: white;
  display: flex;
  padding: 25px 100px 0px;
  border-radius: 30px;
  margin-top: 50px;
}
.banner-content {
  width: 50%;
  margin: auto 0;
}
.banner-content h1 {
  font-size: 70px;
  line-height: 80px;
  margin-top: 0;
}
.banner-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.banner-content a {
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
}
.main-banner img {
  height: 100%;
  margin-left: auto;
}

/* -----------------------------------------blog content styles */
.main-blog {
  display: flex;
  margin-top: 177px;
  gap: 24px;
  margin-bottom: 130px;
}
.three-buttons {
  height: 100%;
  flex: 0 0 312px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  gap: 30px;
  padding: 30px;
  background-color: #161616;
  border-radius: 10px;
}
.three-buttons a {
  color: #161616;
  text-align: center;
  text-decoration: none;
  background-color: white;
  padding: 17px 39px;
  border-radius: 10px;
}
.blog-cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.blog-cards img {
  width: 100%;
}
.card {
  box-shadow: inset 0px 0px 0px 1px rgba(232, 232, 232, 1);
  border-radius: 15px;
}
.blog-content {
  padding: 20px;
  font-weight: 600;
}
.blog-content p {
  font-size: 18px;
  line-height: 27px;
}
.transfer-button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 4px 16px;
  border: 1px solid black;
  border-radius: 5px;
}
.blog-info {
  display: flex;
  gap: 30px;
  color: rgba(22, 22, 22, 0.7);
  font-weight: 400;
  font-size: 16px;
}
.blog-info i {
  margin-right: 10px;
}

/* ---------------------------------footer styles */
footer {
  height: 444px;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
footer hr {
  width: 85%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
footer a {
  font-size: 16px;
  text-decoration: none;
  color: #B9B9B9;
}
.footer-links {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}